<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>693682179122-fvfs00vii1edufsvdfn8il743c92s4l4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.693682179122-fvfs00vii1edufsvdfn8il743c92s4l4</string>
	<key>API_KEY</key>
	<string>AIzaSyCNe4Q8BzGdmBvtMZbkOhRcHY0eiWITGmM</string>
	<key>GCM_SENDER_ID</key>
	<string>693682179122</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stegvision.svapp</string>
	<key>PROJECT_ID</key>
	<string>svapp-7292f</string>
	<key>STORAGE_BUCKET</key>
	<string>svapp-7292f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:693682179122:ios:21a53cfcc96c11636b402b</string>
</dict>
</plist>